/* ---------------------------------- */
/*              FadeIn                */
/* ---------------------------------- */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ---------------------------------- */
/*              FadeOut               */
/* ---------------------------------- */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* ---------------------------------- */
/*              Rotate                */
/* ---------------------------------- */

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ---------------------------------- */
/*              Ping                  */
/* ---------------------------------- */
@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  75%,
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
